.App {
  text-align: center;
  z-index: -99;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #18181800;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Title-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #18181800;
  /* border-radius: 5%; */
  /* box-shadow: 0 0 1vmin 5vmin #18181800; */
}

.Main-title {
  font-family: 'Platypi', serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: #bdbdc2;
}

.nav-header {
  font-family: 'Oswald', sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  cursor: pointer;
  text-decoration: none;
  color: #bdbdc2;
  fill: #bdbdc2;
  padding: 0px 10px;
  margin: 0;
}

.nav-header:hover,
.nav-header-virt-hover {
  color: #f0f2a6;
  fill: #f0f2a6;
  background-color: #181818;
  border: 1px solid #9999A1;
  border-radius: 1vmin 1vmin 0 0;
  padding: 0px 9px;
  border-bottom-color: #181818;
  z-index: 0;
}

.fake-nav-header:hover {
  background-color: transparent;
  border: transparent;
  padding: 0px 10px;
}

.sections {
  font-size: 1.5em;
}

.fa-icon {
  width: 0.8em;
  height: 0.8em;
  vertical-align: -0.05em;
}